.card-display {
    border:1px solid #d3d3d3;
    border-radius:4px
   }
   .img-page,
   .img-page-preview {
    width:100%;
    height:320px;
    background-size:cover;
    border-radius:8px 8px 0 0
   }
   .fwidth {
    width:100%
   }
   .fheight {
    height:100%
   }
   .border-card {
    border-radius:8px!important;
    border:1px solid #c4c4c4
   }
   .width-border-card {
    width:60%;
    position:relative;
    left:50%;
    transform:translate(-55%)
   }
   .button-card {
    width:50%;
    display:flex;
    align-items:center
   }
   .button-card-active,
   .button-card-noactive {
    background:#3c8acd;
    box-shadow:inset 1px -4px 0 hsla(0,0%,100%,.25)
   }
   .button-card-noactive {
    opacity:.4
   }
   .border-input .v-input .v-input__control .v-input__slot fieldset {
    border:1px solid #d3d3d3!important
   }
   #inputDate .v-input .v-input__control .v-input__slot {
    max-width:160px!important;
    min-height:40px!important
   }
   .grey-opacity-text {
    color:#81c2fa
   }
   .border-autocomplete .v-text-field--outlined fieldset {
    border-style:none;
    border-width:none
   }
   .overflow-scroll-content {
    overflow-y:auto;
    max-height:480px
   }
   .fileUpload {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#fff;
    opacity:.7;
    z-index:99
   }
   .textUploadHere {
    position:absolute;
    left:50%;
    transform:translate(-50%);
    bottom:100px;
    z-index:10
   }
   @media screen and (min-width:1280px) {
    .img-page {
     max-width:100%;
     height:320px;
     background-size:cover;
     border-radius:8px 8px 0 0
    }
   }
   @media screen and (min-width:1600) {
    .img-page {
     width:300px;
     height:320px;
     background-size:cover;
     border-radius:8px 8px 0 0
    }
   }
   .v-input--checkbox.v-input--indeterminate.v-input--is-disabled {
    opacity:.6
   }
   .v-input--checkbox.v-input--dense {
    margin-top:4px
   }
   .theme--light.v-data-table {
    background-color:#fff;
    color:rgba(0,0,0,.87)
   }
   .theme--light.v-data-table .v-data-table__divider {
    border-right:thin solid rgba(0,0,0,.12)
   }
   .theme--light.v-data-table.v-data-table--fixed-header thead th {
    background:#fff;
    box-shadow:inset 0 -1px 0 rgba(0,0,0,.12)
   }
   .theme--light.v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    color:rgba(0,0,0,.6)
   }
   .theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>td:last-child,
   .theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>td:not(.v-data-table__mobile-row),
   .theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>th:last-child,
   .theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>th:not(.v-data-table__mobile-row),
   .theme--light.v-data-table>.v-data-table__wrapper>table>thead>tr:last-child>th {
    border-bottom:thin solid rgba(0,0,0,.12)
   }
   .theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr.active {
    background:#f5f5f5
   }
   .theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background:#eee
   }
   .theme--light.v-data-table>.v-data-table__wrapper>table>tfoot>tr>td:not(.v-data-table__mobile-row),
   .theme--light.v-data-table>.v-data-table__wrapper>table>tfoot>tr>th:not(.v-data-table__mobile-row) {
    border-top:thin solid rgba(0,0,0,.12)
   }
   .theme--dark.v-data-table {
    background-color:#1e1e1e;
    color:#fff
   }
   .theme--dark.v-data-table .v-data-table__divider {
    border-right:thin solid hsla(0,0%,100%,.12)
   }
   .theme--dark.v-data-table.v-data-table--fixed-header thead th {
    background:#1e1e1e;
    box-shadow:inset 0 -1px 0 hsla(0,0%,100%,.12)
   }
   .theme--dark.v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    color:hsla(0,0%,100%,.7)
   }
   .theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>td:last-child,
   .theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>td:not(.v-data-table__mobile-row),
   .theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>th:last-child,
   .theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>th:not(.v-data-table__mobile-row),
   .theme--dark.v-data-table>.v-data-table__wrapper>table>thead>tr:last-child>th {
    border-bottom:thin solid hsla(0,0%,100%,.12)
   }
   .theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr.active {
    background:#505050
   }
   .theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background:#616161
   }
   .theme--dark.v-data-table>.v-data-table__wrapper>table>tfoot>tr>td:not(.v-data-table__mobile-row),
   .theme--dark.v-data-table>.v-data-table__wrapper>table>tfoot>tr>th:not(.v-data-table__mobile-row) {
    border-top:thin solid hsla(0,0%,100%,.12)
   }
   .v-data-table {
    line-height:1.5;
    max-width:100%
   }
   .v-data-table>.v-data-table__wrapper>table {
    width:100%;
    border-spacing:0
   }
   .v-data-table>.v-data-table__wrapper>table>tbody>tr>td,
   .v-data-table>.v-data-table__wrapper>table>tbody>tr>th,
   .v-data-table>.v-data-table__wrapper>table>tfoot>tr>td,
   .v-data-table>.v-data-table__wrapper>table>tfoot>tr>th,
   .v-data-table>.v-data-table__wrapper>table>thead>tr>td,
   .v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    padding:0 16px;
    transition:height .2s cubic-bezier(.4,0,.6,1)
   }
   .v-data-table>.v-data-table__wrapper>table>tbody>tr>th,
   .v-data-table>.v-data-table__wrapper>table>tfoot>tr>th,
   .v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-size:.75rem;
    height:48px
   }
   .v-application--is-ltr .v-data-table>.v-data-table__wrapper>table>tbody>tr>th,
   .v-application--is-ltr .v-data-table>.v-data-table__wrapper>table>tfoot>tr>th,
   .v-application--is-ltr .v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    text-align:left
   }
   .v-application--is-rtl .v-data-table>.v-data-table__wrapper>table>tbody>tr>th,
   .v-application--is-rtl .v-data-table>.v-data-table__wrapper>table>tfoot>tr>th,
   .v-application--is-rtl .v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    text-align:right
   }
   .v-data-table>.v-data-table__wrapper>table>tbody>tr>td,
   .v-data-table>.v-data-table__wrapper>table>tfoot>tr>td,
   .v-data-table>.v-data-table__wrapper>table>thead>tr>td {
    font-size:.875rem;
    height:48px
   }
   .v-data-table__wrapper {
    overflow-x:auto;
    overflow-y:hidden
   }
   .v-data-table__progress {
    height:auto!important
   }
   .v-data-table__progress th {
    height:auto!important;
    border:none!important;
    padding:0;
    position:relative
   }
   .v-data-table--dense>.v-data-table__wrapper>table>tbody>tr>td,
   .v-data-table--dense>.v-data-table__wrapper>table>tbody>tr>th,
   .v-data-table--dense>.v-data-table__wrapper>table>tfoot>tr>td,
   .v-data-table--dense>.v-data-table__wrapper>table>tfoot>tr>th,
   .v-data-table--dense>.v-data-table__wrapper>table>thead>tr>td,
   .v-data-table--dense>.v-data-table__wrapper>table>thead>tr>th {
    height:32px
   }
   .v-data-table--has-top>.v-data-table__wrapper>table>tbody>tr:first-child:hover>td:first-child {
    border-top-left-radius:0
   }
   .v-data-table--has-top>.v-data-table__wrapper>table>tbody>tr:first-child:hover>td:last-child {
    border-top-right-radius:0
   }
   .v-data-table--has-bottom>.v-data-table__wrapper>table>tbody>tr:last-child:hover>td:first-child {
    border-bottom-left-radius:0
   }
   .v-data-table--has-bottom>.v-data-table__wrapper>table>tbody>tr:last-child:hover>td:last-child {
    border-bottom-right-radius:0
   }
   .v-data-table--fixed-header>.v-data-table__wrapper,
   .v-data-table--fixed-height .v-data-table__wrapper {
    overflow-y:auto
   }
   .v-data-table--fixed-header>.v-data-table__wrapper>table>thead>tr>th {
    border-bottom:0!important;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    z-index:2
   }
   .v-data-table--fixed-header>.v-data-table__wrapper>table>thead>tr:nth-child(2)>th {
    top:48px
   }
   .v-application--is-ltr .v-data-table--fixed-header .v-data-footer {
    margin-right:17px
   }
   .v-application--is-rtl .v-data-table--fixed-header .v-data-footer {
    margin-left:17px
   }
   .v-data-table--fixed-header.v-data-table--dense>.v-data-table__wrapper>table>thead>tr:nth-child(2)>th {
    top:32px
   }
   