<!doctype html>
<html lang="en">

<head>
    <title>Notice</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="body-bg-custom_ad">
    <!-- Top Bar -->
    <div class="header">
        <div class="d-flex">
            <div class="p-2 flex-grow-1" id="img_logo"><a class="navbar-brand" href="/home/users"><img height="68.99px" src="../img/logo.jpg"
                        alt=""></a></div>
           
            <div style="padding-right: 6vw;" class="dropdown">
                <div  class=" dropdown-toggle" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                <img class="margin-top_avar_ad" style="border-radius: 60%; margin-top: 1.5vw;" width="50px" height="50px"
                src="../img/avatar.png" alt="">
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="./user_info"><i class="pd_r_5 fa fa-user-o" aria-hidden="true"></i> Tài Khoảng</a>
                    <a class="dropdown-item" onclick="acc_logout()"><i class="pd_r_5 fa fa-sign-out" aria-hidden="true"></i>Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm navbar-light bg-main-color">
        <div class="container-fluid">
            <button class="navbar-toggler border_none" type="button" data-toggle="collapse" data-target="#main_menu_nav"
            aria-controls="main_menu_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand margin-right_fb_as_ad com-name" href="#">FB ads support</a>
            <div class="collapse navbar-collapse" id="main_menu_nav" style="justify-content: space-between;">
                <div id="main_menu" class="navbar-nav text-text-white">
                    <a class="nav-link active title-nav" aria-current="page" href="/">Thông báo</a>
                    <a class="nav-link active title-nav" aria-current="page" href="/home/getcontent">Lấy nội dung</a>
                </div>
                <div style="max-width: 167px;" class="collapse navbar-collapse" id="main_menu_nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a style="color: white;" class="nav-link font-weight-bold dropdown-toggle" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                QUẢN LÝ CHUNG
                            </a>
                            <div id="menu_" style="background-color: #2a2e3f;" class="dropdown-menu"
                                aria-labelledby="navbarDropdown">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="main_menu_nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a style="color: white;" class="nav-link font-weight-bold dropdown-toggle" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                QUẢN LÝ TIỀN
                            </a>
                            <div id="menu_money" style="background-color: #2a2e3f;" class="dropdown-menu"
                                aria-labelledby="navbarDropdown">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="navbar-nav user-info">
                    <div id="current_username" class="nav-link active" aria-current="page"><a>USER</a>
                        <a class="nav-link active" aria-current="page" onclick="acc_logout()" href="#">(Đăng
                            xuấtssss)</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section>
        <div class="col-12">
            <div class="container pt-5">
                <h3><i class="pd_r_5 fa fa-users" aria-hidden="true"></i>Quản Lý Đại Lý</h3>
             </div>
             <div style=" margin-top: 2vw;" class="bg-main-color container">
                <div class="col-12 pd_t_1 pb-2">
                        <!-- <button onclick="open_data_contacts()" class="btn btn-primary m_b_5 float_right">Contacts</button> -->
                    <h5 class="">Danh sách đăng ký đại lý</h5>
                </div>
                <div class="col-12 v-data-table__wrapper">
                    <table id="table_data_reg" class="width_table_350 tablemanager text_center table table-striped table_sectiontable-sm"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th style="width:30%">User</th>
                                <th>Tổng tiền nạp</th>
                                <th>Ngày tạo TK</th>
                                <th>Ngày đăng ký</th>
                                <th class="disableFilterBy">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        <caption id="showing1"></caption>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- <hr /> -->
    <section>
        <div class="col-12">
            <div style="margin-top: 2vw;" class="bg-main-color container">
                <div class="col-12 pd_t_1 pb-2">
                    <h5>Danh sách đại lý</h5>
                </div>
                <div class="col-12 v-data-table__wrapper" >
                    <table id="table_data" class="width_table_350 tablemanager text_center table_section table table-striped table-sm"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="width:8%">STT</th>
                                <th style="width:30%">User</th>
                                <th>Tổng user</th>
                                <th>Tổng tiền nạp</th>
                                <th>Tổng hoa hồng</th>
                                <th>Tổng nạp tháng</th>
                                <th>Ngày duyệt</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        <caption id="showing"></caption>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="money_table" tabindex="-1" role="dialog" aria-labelledby="money_table"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title red">Contacts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Nội dung</th>
                                <th>Thời gian</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="table_data_money"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/authen_fuction.js"></script>
    <script src="../js/agency_manager.js"></script>
    <script src="../js/helper_manager.js"></script>
    <script src="../js/permission.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>