<!doctype html>
<html lang="en">

<head>
  <title>FB ads support</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <section>
    <div class="col-12">
      <div class="container pt-5 pb-5">
        <div class="form-group w-50 m-auto">
          <!-- <form action="/login" method="POST"> -->
          <label for="user">User</label>
          <input type="text" name="user" id="user" class="form-control" placeholder="" aria-describedby="helpId">
          <!-- <small id="helpId" class="text-muted">Help text</small> -->
          <label for="password">Password</label>
          <input type="password" name="user" id="pass" class="form-control" placeholder="" aria-describedby="helpId">
        </div>
        <div class="p-4 m-auto w-50 text-center">
          <button onclick="login()" class="btn btn-primary">Đăng nhập</button>
          <!-- <button class="btn btn-primary">Đăng Ký</button> -->
        </div>
        <!-- </form> -->
      </div>
    </div>
  </section>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="../js/login.js"></script>
  <script src="../js/authen_fuction.js"></script>
  <script defer src="../js/translator.js"></script>
  <!-- <script src="../js/menu_function.js"></script> -->
  <script>
    //ensure logout
    if (check_is_login()) {
      acc_logout();
    };
    async function login() {
      var user = document.getElementById('user').value;
      var pass = document.getElementById('pass').value;
      if (!validateField(user, 'Tên đăng nhập') || !validateField(pass, 'Mật khẩu')) {
        return;
      }
      let rs = await acc_login(user, pass);
      if (rs.ok == 1) {
        var cr_u = rs.data;
        await set_cr_user(cr_u);
        location.href = '/home/notice';
      } else {
        alert('Thông tin đăng nhập không chính xác !');
      }
    }
    document.getElementById('pass').addEventListener('keypress', (e) => {
      if (e.which == 13 || e.keyCode == 13) {
        login();
      }
    });
  </script>
</body>

</html>