<!doctype html>
<html lang="en">

<head>
    <title>Money</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="body-bg-custom">
    <!-- Top Bar -->
    <nav style="background-color: #2E9AFE;" class="navbar navbar-expand-sm navbar-light bg-main-color">
        <div class="container-fluid">
            <a class="navbar-brand com-name" href="#">FB ads support</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu_nav"
                aria-controls="main_menu_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_menu_nav" style="justify-content: space-between;">
                <div id="main_menu" class="navbar-nav">
                    <a class="nav-link active title-nav" aria-current="page" href="/">Thông báo</a>
                    <a class="nav-link active title-nav" aria-current="page" href="/home/getcontent">Lấy nội dung</a>
                </div>
                <div class="collapse navbar-collapse" id="main_menu_nav">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item dropdown">
                        <a style="color: aliceblue;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          QUẢN LÝ TIỀN
                        </a>
                        <div id="menu_money" style="background-color: #2E9AFE;" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        </div>
                      </li>
                    </ul>
                </div>
                <div class="navbar-nav user-info">
                    <div id="current_username" class="nav-link active" aria-current="page"><a>USER</a> <a
                            class="nav-link active" aria-current="page" onclick="acc_logout()" href="#">(Đăng xuất)</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section>
        <div class="col-12">
            <div class="container">
                <div class="col-12 pt-5 pb-2">
                    <div class="w-100 d-flex">
                        <div class="form-group w-25">
                            <label for="from_date">Từ ngày</label>
                            <input type="date" class="form-control" name="from_date" id="from_date"
                                aria-describedby="from_date" placeholder="yyyy-MM-dd">
                            <!-- <small id="from_date" class="form-text text-muted">Chọn ngày</small> -->
                        </div>
                        <div class="form-group w-25 pd_l_15">
                            <label for="to_date">Đến ngày</label>
                            <input type="date" class="form-control" name="to_date" id="to_date" aria-describedby="to_date"
                                placeholder="yyyy-MM-dd">
                            <!-- <small id="to_date" class="form-text text-muted">Chọn ngày</small> -->
                        </div>
                        <div style="padding-top:32px ;" class="form-group w-25 pd_l_15">
                            <button class="btn btn-primary" data-toggle="modal" onclick="init_topup_all()"
                            data-target="#detailId">search</button>
                        </div>
                    </div>
                    <h5>Danh sách phiếu nạp</h5>
                    <div id="date_"></div>
                </div>
                <div class="col-12">
                    <table id="table_data_reg" class="tablemanager table table-striped table-bordered table-sm"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>User</th>
                                <th>Tổng tiền nạp</th>
                                <th>Thời gian</th>
                                <th>Mã CK</th>
                                <th class="disableFilterBy">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        <caption id="showing"></caption>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="app" tabindex="-1" role="dialog" aria-labelledby="app" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex">
                    <div class="col-md-6">
                        <label for="des" class="form-label">Mã chuyển khoản</label>
                        <input disabled type="text" class="form-control" id="des" required>
                    </div>
                    <div class="col-md-6">
                        <label for="money" class="form-label">Số tiền</label>
                        <input type="number" value="0" class="form-control" id="money" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button onclick="topup_approved()" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/authen_fuction.js"></script>
    <script src="../js/money_manager_a.js"></script>
    <script src="../js/helper_manager.js"></script>
    <script src="../js/permission.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>