<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../collect/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../collect/bootstrap.css" rel="stylesheet" type="text/css">

    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!-- Font-icon css-->
</head>

<body>
    <section class="login-content">

        <div class="login-box rounded py-4 px-3 px-lg-5">
            <div class="px-4 mb-3">
                <div class="w-100 text-center" id="logo_login_center">
                    <img src="../img/logo.jpg" width="200vw" alt="logo tool264.com" />
                </div>
                <h4 class="text-center blue-color-text">Chào mừng trở lại</h4>
                <h6 class="text-center">Vui lòng đăng nhập để tiếp tục</h6>
                <!-- <img src="" alt="" class="img-fluid"> -->
            </div>
            <!-- <form class="login-form"> -->
            <!-- <input type="hidden" name="_token" value="iyDxZDf2Q5FVqsv3pfnFP4FMvxe0q6ikI8bduICa">                <h3 class="login-head text-uppercase">Đăng nhập</h3> -->

            <!-- <form> -->
            <div class="d-flex flex-wrap w-75 m-auto">
                <div class="login-form">
                    <div class="form-group">
                        <label class="control-label text-uppercase">Email</label>
                        <input class="form-control" id="user" name="username" type="text" placeholder="" autofocus="">
                    </div>

                    <div class="form-group">
                        <label class="control-label text-uppercase">mật khẩu</label>
                        <input class="form-control" id="pass" name="password" type="password" placeholder=""
                            autofocus="">
                    </div>

                    <div class="form-group btn-container mb-3">
                        <button onclick="login()" class="btn btn-primary btn-block text-uppercase blue-color-bg">Đăng
                            nhập</button>
                        <div class="d-flex flex-column mt-2">
                            <a href="/register">Đăng ký ngay ?</a>
                            <a href="/recovery">Quên mật khẩu ?</a>
                        </div>
                    </div>
                </div>
                <div class="login-img" id="image_login">
                    <img src="../img/right.jpg" width="400px" alt="tool264.com entrance" />
                </div>
            </div>
            <!-- </form> -->










            <!-- </form> -->












        </div>
    </section>
    <script src="../js/login.js"></script>
    <script src="../js/authen_fuction.js"></script>
    <script defer src="../js/translator.js"></script>
    <script>
        
        //ensure logout
        if (check_is_login()) {
            acc_logout();
        };
        async function login() {
            var user = document.getElementById('user').value;
            var pass = document.getElementById('pass').value;
            if (!validateField(user, 'Tên đăng nhập') || !validateField(pass, 'Mật khẩu')) {
                return;
            }
            let rs = await acc_login(user, pass);
            if (rs.ok == 1) {
                var cr_u = rs.data;
                var cr_id = rs.data.id;
                await history_login(cr_id);
                await set_cr_user(cr_u);
                var lst_menu = await menu_get_current_menu();
                if (lst_menu) {
                    if (cr_u.is_admin) {
                        location.href = `/home/${lst_menu[lst_menu.length - 1].action}`;
                    } else {
                        location.href = `/home/${lst_menu[0].action}`;
                    }
                } else {
                    history_login();
                    location.href = '/home/page_box';
                    
                }
            } else {
                alert('Thông tin đăng nhập không chính xác !');
            }
        }
        document.getElementById('pass').addEventListener('keypress', (e) => {
            if (e.which == 13 || e.keyCode == 13) {
                login();
            }
        });
    </script>

</body>

</html>