<!doctype html>
<html lang="en">

<head>
    <title>Pricing</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="body-bg-custom">
    <!-- Top Bar -->
    <div class="header">
        <div class="d-flex">
            <div class="p-2 flex-grow-1 website" id="img_logo"><a class="navbar-brand" href="/home/page_box"><img
                        src="../img/logo.jpg" alt=""></a></div>
            <div style="padding-top:25px" class="d-flex">
                <!-- <div class=""><a class="navbar-brand" href="#"> <img style="border-radius: 50%;" width="40px"
                            height="40px" src="../img/avatar_user.png" alt=""></a></div> -->
                <div class="dropdown website" style="padding-top: 5px;padding-right: 10px;">
                    <div class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img style="border-radius: 50%;" width="40px" height="40px" src="../img/avatar_user.png" alt="">
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="./user_info"><i class="pd_r_5 fa fa-user-o"
                                aria-hidden="true"></i> Tài Khoảng</a>
                        <a class="dropdown-item" onclick="acc_logout()"><i class="pd_r_5 fa fa-sign-out"
                                aria-hidden="true"></i>Đăng xuất</a>
                    </div>
                </div>

                <div style="padding-top:5px" class="dropdown website">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_lang"
                        data-toggle="dropdown" data-lang="" aria-haspopup="true" aria-expanded="false">
                        <span id="img_lang"> </span><span data-lang="Language"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="change_lang('en')" href="#"><img width="20%" height="20%"
                                src="../img/usa.jpg" alt="">ENGLISH</a>
                        <a class="dropdown-item" onclick="change_lang('vi')" href="#"><img width="20%" height="20%"
                                src="../img/vn.jpg" alt="">VIỆT NAM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <nav class="navbar navbar-expand-sm navbar-light bg-main-color">
            <div class="container-fluid with100">
                <!-- <a class="navbar-brand com-name website" href="#">FB ads support</a> -->
                <button class="navbar-toggler with20" type="button" data-toggle="collapse" data-target="#main_menu_nav"
                    aria-controls="main_menu_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-toggler border_none text_center with75" id="img_logo">
                    <a class="navbar-brand" href="/home/page_box"><img width="100px" height="41px" src="../img/logo.jpg"
                            alt=""></a>
                    <a class="float_right" style="padding-top:20px; color: whitesmoke;" href="#"><i class="fa fa-bell"
                            aria-hidden="true"></i></a>
                    <div style="padding-top:20px;color: whitesmoke; margin-right: 20px;" class="float_right dropdown">
                        <div class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fa fa-1x fa-language" aria-hidden="true"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" onclick="change_lang('en')" href="#"><img width="20%" height="20%"
                                    src="../img/usa.jpg" alt="">ENGLISH</a>
                            <a class="dropdown-item" onclick="change_lang('vi')" href="#"><img width="20%" height="20%"
                                    src="../img/vn.jpg" alt="">VIỆT NAM</a>
                        </div>
                    </div>

                    <div class="dropdown float_right" style="color: whitesmoke;padding-top: 20px; margin-right: 20px;">
                        <div class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fa fa-1x fa-user-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="./user_info"><i class="pd_r_5 fa fa-user-o"
                                    aria-hidden="true"></i> Tài Khoảng</a>
                            <a class="dropdown-item" onclick="acc_logout()"><i class="pd_r_5 fa fa-sign-out"
                                    aria-hidden="true"></i>Đăng xuất</a>
                        </div>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="main_menu_nav" style="justify-content: space-between;">
                    <div id="main_menu" class="navbar-nav">
                    </div>
                    <!-- <div class="collapse navbar-collapse" id="main_menu_nav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a style="color: aliceblue;" class="nav-link dropdown-toggle" href="#"
                                    id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" data-lang="contact_and_support">
                                    LIÊN HỆ VÀ HỖ TRỢ
                                </a>
                                <div id="menu_contacts" style="background-color: #2a2e3f;" class="dropdown-menu"
                                    aria-labelledby="navbarDropdown">
                                </div>
                            </li>
                        </ul>
                    </div> -->
                    <div class="navbar-nav user-info">
                        <div id="current_username" class="nav-link active" aria-current="page">
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section>
            <div class="col-12">
                <div class="container">
                    <div class="col-md-12 d-flex flex-wrap mt-5 mb-5">
                        <div class="col-12 with100">
                            <h3 class="float_left"><i class="pd_r_5 fa fa-bell-o" aria-hidden="true"></i><span
                                    data-lang="Thông_Báo"></span>
                            </h3>
                            <!-- <button onclick="open_modal()" class="btn float_right btn-primary m-auto"
                            data-lang="comments">Góp Ý</button> -->
                        </div>
                        <div class="with100" id="table_data">
                            <div class="box_articles">
                                <div class="box-content">
                                    <div class="box-left">
                                        <img style="border-radius: 50%;" width="50px" height="50px"
                                            src="../img/avatar.png" alt="">
                                    </div>
                                    <div class="box-right">
                                        <span style="font-weight:bolder">Quản Trị viên</span>
                                        <p>thời gian</p>
                                    </div>
                                </div>
                                <div>
                                    <h5>Lorem</h5>
                                    <p>Lorem i</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="footer">
        <nav style="min-height: 56px;" class=" pd_t_15 text_white text_center bg-main-color">
            <a style="color: white;" href="">2022 -- Powered by Arthur Company</a>
        </nav>
    </div>
    <!-- modal  -->
    <dialog id="bank_money_ticket"><div class="modal-dialog" role="document">
        <div style="border: 0px;" class="modal-content">

            <div class="modal-body text_center">
                <p><img width="100px" height="100px" src="../img/check.png" alt="" srcset=""></p>
                <h4>Thành Công !</h4>
                <p>Tài khoản của bạn đã được cộng thêm tiền!</p>
                <button type="button" class="btn btn-primary" onclick="location.reload()"
                    data-dismiss="modal">OK</button>
            </div>
            <div class="text_center">

            </div>
        </div>
    </div></dialog>
    <div class="modal fade" id="contacts_ticket" tabindex="-1" role="dialog" aria-labelledby="money_ticket"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Contacts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex">
                    <div class="col-md-12">
                        <label for="contacts" class="form-label" data-lang="content">Ý Kiến :</label>
                        <textarea class="form-control" name="contacts" id="contacts" cols="60" rows="5"
                            required></textarea>
                        <!-- <input style="height:200px" type="text" class="form-control" id="money_withdraw" required> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button onclick="save_ticket()" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/authen_fuction.js"></script>
    <script src="../js/helper_manager.js"></script>
    <script src="../js/permission.js"></script>
    <script src="../js/money_manager.js"></script>
    <script src="../js/p_articles.js"></script>
    <script defer src="../js/translator.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
        let main_table = document.getElementById('table_data');
        init_articles();
    </script>
</body>


</html>