<!doctype html>
<html lang="en">

<head>
    <title>Notice</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="body-bg-custom custom_scroll">
    <!-- Top Bar -->
    <div class="header">
        <div class="d-flex">
            <div class="p-2 flex-grow-1 website" id="img_logo"><a class="navbar-brand" href="/home/page_box"><img
                        src="../img/logo.jpg" alt=""></a></div>
            <div style="padding-top:25px" class="d-flex">
                <!-- <div class=""><a class="navbar-brand" href="#"> <img style="border-radius: 50%;" width="40px"
                            height="40px" src="../img/avatar_user.png" alt=""></a></div> -->
                <div class="dropdown website " style="padding-top: 5px;padding-right: 10px;">
                    <div class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img style="border-radius: 50%;" width="40px" height="40px" src="../img/avatar_user.png" alt="">
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="./user_info"><i class="pd_r_5 fa fa-user-o"
                                aria-hidden="true"></i> Tài Khoảng</a>
                        <a class="dropdown-item" onclick="acc_logout()"><i class="pd_r_5 fa fa-sign-out"
                                aria-hidden="true"></i>Đăng xuất</a>
                    </div>
                </div>

                <div style="padding-top:5px" class="website dropdown">
                    <button class="btn btn_lang btn-secondary dropdown-toggle" type="button"
                        id="dropdownMenuButton_lang" data-toggle="dropdown" data-lang="" aria-haspopup="true"
                        aria-expanded="false">
                        <span id="img_lang"> </span><span data-lang="Language"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="change_lang('en')" href="#"><img width="20%" height="20%"
                                src="../img/usa.jpg" alt="">ENGLISH</a>
                        <a class="dropdown-item" onclick="change_lang('vi')" href="#"><img width="20%" height="20%"
                                src="../img/vn.jpg" alt="">VIỆT NAM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm navbar-light bg-main-color_none bg-main-color_clinet">
        <div class="container-fluid with100">
            <!-- <a class="navbar-brand com-name website" href="#">FB ads support</a> -->
            <button class="navbar-toggler focus border_none with20" type="button" data-toggle="collapse"
                data-target="#main_menu_nav" aria-controls="main_menu_nav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-toggler border_none text_center with75" id="img_logo">
                <span id="img_logo_mobie">
                    <a style="margin-left: -15px;" class="navbar-brand" href="/home/page_box" id=""><img width="100px"
                            height="41px" src="../img/logo.jpg" alt=""></a>
                </span>
                <!-- <a class="float_right" style="padding-top:20px; color: whitesmoke;" href="#"><i class="fa fa-bell"
                    aria-hidden="true"></i></a> -->
                <div style="padding-top:20px;color: whitesmoke;" class="float_right dropdown">
                    <div class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i style="color: #000;" class="fa fa-1x fa-language" aria-hidden="true"></i>
                    </div>
                    <div class="dropdown-menu dropdown-menu-mobile" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="change_lang('en')" href="#"><img width="20%" height="20%"
                                src="../img/usa.jpg" alt="">ENGLISH</a>
                        <a class="dropdown-item" onclick="change_lang('vi')" href="#"><img width="20%" height="20%"
                                src="../img/vn.jpg" alt="">VIỆT NAM</a>
                    </div>
                </div>

                <div class="dropdown float_right" style="color: whitesmoke;padding-top: 20px; margin-right: 20px;">
                    <div class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i style="color: #000;" class="fa fa-1x fa-user-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="./user_info"><i class="pd_r_5 fa fa-user-o"
                                aria-hidden="true"></i> Tài Khoảng</a>
                        <a class="dropdown-item" onclick="acc_logout()"><i class="pd_r_5 fa fa-sign-out"
                                aria-hidden="true"></i>Đăng xuất</a>
                    </div>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="main_menu_nav" style="justify-content: space-between; ">
                <div id="main_menu" class="navbar-nav ">
                </div>
                <!-- <div class="collapse navbar-collapse" id="main_menu_nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a style="color: aliceblue;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                data-lang="contact_and_support">
                                LIÊN HỆ VÀ HỖ TRỢ
                            </a>
                            <div id="menu_contacts" style="background-color: #2a2e3f;" class="dropdown-menu"
                                aria-labelledby="navbarDropdown">
                            </div>
                        </li>
                    </ul>
                </div> -->
                <div class="navbar-nav user-info">
                    <div id="current_username" class="nav-link active" aria-current="page">
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="content">
        <section>
            <div class="col-12">
                <div style="background-color: #fff;box-shadow: rgba(80, 102, 224, 0.08) 0px 5px 15px 5px;" class="container font-weight-550 mt-3 mb-3 pd0">
                    <div class="pd-t10 text_white" id="error_token"> </div>
                    
                    <div class="col-md-12 t1000_center pd0 d-flex flex-wrap mt-2">
                        
                        <div class="wth col-md-4 t1000_left m_b_5">
                            <label for="list_pages" class="form-label" data-lang="Facebookuser"></label> <br>
                            <select class="form-select p-2 w-100 login-form" id="list_fb" onchange="set_combobox_data()"
                                required>
                                <option selected disabled value="">Choose...</option>
                                <option>...</option>
                            </select>
                            
                        </div>
                        <div class="wth col-md-4 t1000_left m_b_5">
                            <label for="list_pages" class="form-label" data-lang="Page"></label> <br>
                            <select class="form-select p-2 w-100 login-form" id="list_pages"
                                onchange="change_page_selected()" required>
                                <option selected disabled value="">Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="wth t1000_left col-md-4">
                            <label for="list_pages" class="form-label" data-lang="Adsuser"></label> <br>
                            <select class="form-select p-2 w-100 login-form" id="list_ads" required>
                                <option selected disabled value="">Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 pd0 d-flex flex-wrap mt-2">
                        <div class="pt-4 col-md-6" >
                                <div class="box_review  relative_load" id="loading">
                                    <a onclick="select_file()"><img id="img_1" src="https://i.imgur.com/BDJYyka.jpg" /></a>
                                    <div class="d-flex justify-content-between content">
                                        <span data-select="review1">Like Page 👉 👉</span>
                                        <button data-select="review" class="btn">Like page</button>
                                        <input id="file-input" accept="video/mp4" type="file" name="name0"
                                            style="display: none;" onchange="PreviewImage()" />
                                    </div>
                            </div>
                            
                        </div>
                        <div class="pt-4 col-md-6" >
                            <div class="box_review  relative_load"  id="loading1">
                                <a onclick="select_file1()"><img id="img_2" src="https://i.imgur.com/BDJYyka.jpg" /></a>
                                <div class="d-flex justify-content-between content">
                                    <span data-select="review2">Like Page 👉 👉</span>
                                    <button data-select="review" class="btn">Like page</button>
                                    <input id="file-input1" type="file" accept=".gif, .jpg, .png" name="name1"
                                        style="display: none;" onchange="PreviewImage1()" />
                                </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-12 d-flex flex-wrap pt-4 pb-4">
                        <nav class="w-100">
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a style="background-color: rgb(188, 212, 246);" class="nav-item nav-link nav-left active" id="nav-home-tab" data-toggle="tab"
                                    role="tab" aria-controls="nav-home" aria-selected="true" onclick="set_card(1)"
                                    data-lang="card1"></a>
                                <a style="background-color: rgb(188, 212, 246);" class="nav-item nav-link nav-right" id="nav-profile-tab" data-toggle="tab" role="tab"
                                    aria-controls="nav-profile" aria-selected="false" onclick="set_card(2)"
                                    data-lang="card2"></a>
                            </div>
                        </nav>
                        <div class="tab-content w-100" id="nav-tabContent">
                            <div  class="tab-pane fade show active d-flex flex-wrap pd0 p-_4">
                                <div class="col-md-6 p-2" data-select="card1">
                                    <label for="list_pages" class="form-label" data-lang="Buttons"></label>
                                    <select onchange="change_button()" class="form-select input_user p-2 w-100" id="list_bts"
                                        required>
                                        <option selected value="Like Page">Like Page</option>
                                        <option value="No Button">No Button</option>
                                        <option value="Learn More">Learn More</option>
                                        <option value="Book Travel">Book Travel</option>
                                        <option value="Contact Us">Contact Us</option>
                                        <option value="Download">Download</option>
                                        <option value="Get Quote ">Get Quote </option>
                                        <option value="Install App ">Install App </option>
                                        <option value="Listen Music">Listen Music</option>
                                        <option value="Message Page">Message Page</option>
                                        <option value="Open Link">Open Link</option>
                                        <option value="Play Game">Play Game</option>
                                        <option value="Shop Now">Shop Now</option>
                                        <option value="Sign Up">Sign Up</option>
                                        <option value="Subscribe">Subscribe</option>
                                        <option value="Use App">Use App</option>
                                        <option value="Watch More">Watch More</option>
                                        <option value="Watch Video">Watch Video</option>
                                        <option value="Apply Now">Apply Now</option>
                                    </select>
                                </div>
                                <div class="col-md-6 p-2" data-select="card1">
                                    <label for="title" class="form-label" data-lang="cardtitle"></label>
                                    <input oninput="change_title()" type="text" class="form-control input_user" id="title"
                                        value="Like Page 👉 👉">
                                </div>
                                <div class="col-md-12 p-2" style="display: none;" data-select="card2">
                                    <label for="link" class="form-label" data-lang="Linkoptional"></label>
                                    <input type="text" class="form-control input_user" id="link">
                                </div>
                                <div class="col-md-12 p-2" data-select="card2">
                                    <div id="lib_img" class="img_lib custom_scroll">
                                        <div class="img_item"><img width="100%" height="100%" /></div>
                                    </div>
                                </div>
                                <div class="col-md-12 p-2">
                                    <!-- <label for="post_message" class="form-label">POST MESSAGE </label> -->
                                    <textarea rows="2" type="text" data-lang="Content" data-langtg="placeholder"
                                        class="form-control" id="post_message"></textarea>
                                </div>
                                <div class="col-md-12 p-2 d-flex">
                                    <fieldset class="w-100 p-3 rounded border">
                                        <legend class="w-auto" data-lang="Schedule"></legend>
                                        <div style="width: 90%;" class="m-auto d-flex justify-content-between">
                                            <div style="width: 90%;">
                                                <input class="input_user" style="width: 90%;" type="datetime-local" id="schedule_time"
                                                    name="schedule_time" disabled value="2018-06-12T19:30">
                                            </div>
                                            <div style="width: 90%;">
                                                <div class="custom-control custom-switch" style="zoom: 1.2;">
                                                    <input type="checkbox"
                                                        onchange="change_check_schedule()" class="custom-control-input"
                                                        id="is_schedule">
                                                    <label class="custom-control-label" style="width: 50px;"
                                                        for="is_schedule"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="col-md-12 p-2">
                                    <button onclick="run_public()" class="btn btn-primary button-radius w-100"
                                        data-lang="Public"></button>
                                </div>
                                <div class="col-md-12 p-2">
                                    <div class="col-12 v-data-table__wrapper">
                                        <table class="width_table_620 table text_center table_section">
                                        <thead>
                                            <tr>
                                                <th data-lang="Facebookuser"></th>
                                                <th data-lang="Page"></th>
                                                <th data-lang="Linkpost"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="text_black" id="rs_tb">
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- Link post <a class="btn btn-primary" id="rs_link" target="_blank">Link</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <dialog id="bank_money_ticket"><div class="modal-dialog" role="document">
        <div style="border: 0px;" class="modal-content">

            <div class="modal-body text_center">
                <p><img width="100px" height="100px" src="../img/check.png" alt="" srcset=""></p>
                <h4>Thành Công !</h4>
                <p>Tài khoản của bạn đã được cộng thêm tiền!</p>
                <button type="button" class="btn btn-primary" onclick="location.reload()"
                    data-dismiss="modal">OK</button>
            </div>
            <div class="text_center">

            </div>
        </div>
    </div></dialog>
    <!-- <dialog class="modal fade" id="bank_money_ticket" tabindex="-1" role="dialog" aria-labelledby="bank_money_ticket"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body text_center">
                    <p><img width="100px" height="100px" src="../img/check.png" alt="" srcset=""></p>
                    <h4>Thành Công !</h4>
                    <p>Tài khoản của bạn đã được cộng thêm tiền!</p>
                    <button type="button" class="btn btn-primary" onclick="location.reload()"
                        data-dismiss="modal">OK</button>
                </div>
                <div class="text_center">

                </div>
            </div>
        </div>
    </dialog> -->
    <div class="footer">
        <nav style="min-height: 56px;" class=" pd_t_15 text_white text_center bg-main-color_clinet">
            <a style="color: white;" href="">2022 -- Powered by Arthur Company</a>
        </nav>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/authen_fuction.js"></script>
    <script src="../js/helper_manager.js"></script>
    <script src="../js/permission.js"></script>
    <script src="../js/contact_fb.js"></script>
    <script defer src="../js/translator.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>
    <script type="text/javascript">

        function custom_template(obj) {
            var data = $(obj.element).data();
            var text = $(obj.element).text();
            if (data && data['img_src']) {
                img_src = data['img_src'];
                template = $("<div class=\"pd-t15\"><img src=\"" + img_src + "\" style=\"width:30px;height:30px;border-radius: 15px;\"/><span style=\"padding-left:5px ; color:black;\">" + text + "</span></div>");
                return template;
            }
        }
        var options = {
            'templateSelection': custom_template,
            'templateResult': custom_template,
        }
        $('#list_fb').select2(options);
        $('.select2-container--default .select2-selection--single').css({ 'height': '40px' });
        $('#list_pages').select2(options);
        $('.select2-container--default .select2-selection--single').css({ 'height': '40px' });
        $('#list_ads').select2(options);
        $('.select2-container--default .select2-selection--single').css({ 'height': '40px' });

    </script>
</body>


</html>