<!doctype html>
<html lang="en">

<head>
    <title>Money</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="body-bg-custom">
    <!-- Top Bar -->
    <div class="header">
        <div class="d-flex">
            <div class="p-2 flex-grow-1" id="img_logo"><a class="navbar-brand" href="/home/users"><img height="68.99px"
                        src="../img/logo.jpg" alt=""></a></div>

            <div style="padding-right: 6vw;" class="dropdown">
                <div class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img style="border-radius: 50%; margin-top: 1.5vw;" width="50px" height="50px"
                        src="../img/avatar.png" alt="">
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="./user_info"><i class="pd_r_2 fa fa-user-o" aria-hidden="true"></i>
                        Tài Khoảng</a>
                    <a class="dropdown-item" onclick="acc_logout()"><i class="pd_r_2 fa fa-sign-out"
                            aria-hidden="true"></i>Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm navbar-light bg-main-color">
        <div class="container-fluid">
            <a class="navbar-brand com-name" href="#">FB ads support</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu_nav"
                aria-controls="main_menu_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_menu_nav" style="justify-content: space-between;">
                <div id="main_menu" class="navbar-nav">
                    <a class="nav-link active title-nav" aria-current="page" href="/">Thông báo</a>
                    <a class="nav-link active title-nav" aria-current="page" href="/home/getcontent">Lấy nội dung</a>
                </div>
                <div style="max-width: 167px;" class="collapse navbar-collapse" id="main_menu_nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a style="color: aliceblue;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                QUẢN LÝ CHUNG
                            </a>
                            <div id="menu_" style="background-color: #2a2e3f;" class="dropdown-menu"
                                aria-labelledby="navbarDropdown">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="main_menu_nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a style="color: aliceblue;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                QUẢN LÝ TIỀN
                            </a>
                            <div id="menu_money" style="background-color: #2a2e3f;" class="dropdown-menu"
                                aria-labelledby="navbarDropdown">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="navbar-nav user-info">
                    <div id="current_username" class="nav-link active" aria-current="page"><a>USER</a> <a
                            class="nav-link active" aria-current="page" onclick="acc_logout()" href="#">(Đăng xuất)</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section>
        <div class="col-12">
            <div class="container pt-5">
                <h3>Trang Quản Trị</h3>
                <div class="col-md-12 d-flex flex-wrap mt-5 mb-5">
                    <div style="background-color: #2E9AFE; height: 100px; border-radius: 5%;" class="m_l_5 col-md-3">
                        <div class=" pd_l_15 m_t_1 float_left">
                            <!-- <img style="border-radius: 50%; width: 50px;height: 50px;" src="../img/avatar_user.png"
                                alt=""> -->
                                <i class="fa fa-3x fa-money" aria-hidden="true"></i>
                        </div>
                        <div style=" width: 60%;" class=" pd_r_2 text_center m_t_1 float_right">
                            <h5>Tổng Số Dư</h5>
                            <!-- <br> -->
                            <div id="total_money_user">
                                <h5>0</h5>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: #2E9AFE; height: 100px; border-radius: 5%;" class="m_l_5 col-md-3">
                        <div class="pd_l_15 m_t_1 float_left">
                            <!-- <img style="border-radius: 50%; width: 50px;height: 50px;" src="../img/avatar_user.png"
                                alt=""> -->
                                <i class="fa fa-3x fa-money" aria-hidden="true"></i>
                        </div>
                        <div style=" width: 60%;" class=" pd_r_2 text_center m_t_1 float_right">
                            <h5>Tổng Đã Nạp</h5>
                            <!-- <br> -->
                            <div id="total_topup">
                                <h5>0</h5>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: #2E9AFE; height: 100px; border-radius: 5%;" class="m_l_5 col-md-3">
                        <div class="pd_l_15 m_t_1 float_left">
                            <!-- <img style="border-radius: 50%; width: 50px;height: 50px;" src="../img/avatar_user.png"
                                alt=""> -->
                                <i class="fa fa-3x fa-money" aria-hidden="true"></i>
                        </div>
                        <div style=" width: 60%;" class=" text_center m_t_1 float_right">
                            <h5>Tổng Doanh Thu</h5>
                            <!-- <br> -->
                            <div id="total_use_money">
                                <h5>0</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-flex flex-wrap mt-5 mb-5">
                    <div style="background-color: #5cd3b9; height: 100px; border-radius: 5%;" class="m_l_5 col-md-3">
                        <div class=" pd_l_15 m_t_1 float_left">
                            <!-- <img style="border-radius: 50%; width: 50px;height: 50px;" src="../img/avatar_user.png"
                                alt=""> -->
                                <i class="fa-3x fa fa-user-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class=" pd_r_2 text_center m_t_1 float_right">
                            <h5>User Hôm Nay</h5>
                            <!-- <br> -->
                            <div id="today_user">
                                <h5>0</h5>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: #5cd3b9; height: 100px; border-radius: 5%;" class="m_l_5 col-md-3">
                        <div class="pd_l_15 m_t_1 float_left">
                            <!-- <img style="border-radius: 50%; width: 50px;height: 50px;" src="../img/avatar_user.png"
                                alt=""> -->
                                <i class="fa fa-3x fa-btc" aria-hidden="true"></i>
                        </div>
                        <div class=" pd_r_2 text_center m_t_1 float_right">
                            <h5>Đã Nạp Hôm Nay</h5>
                            <!-- <br> -->
                            <div id="today_topup">
                                <h5>0</h5>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: #5cd3b9; height: 100px; border-radius: 5%;" class="m_l_5 col-md-3">
                        <div class="pd_l_15 m_t_1 float_left">
                            <!-- <img style="border-radius: 50%; width: 50px;height: 50px;" src="../img/avatar_user.png"
                                alt=""> -->
                                <i class="fa fa-3x fa-btc" aria-hidden="true"></i>
                        </div>
                        <div class=" text_center m_t_1 float_right">
                            <h5>Đã Tiêu Hôm Nay</h5>
                            <!-- <br> -->
                            <div id="today_use_money">
                                <h5>0</h5>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <div style="margin-top: 2vw;" class="bg-main-color container">
                <div class="col-12 pd_t_1 pb-2">
                    <h5> <i class="fa pd_r_2 fa-calendar-check-o" aria-hidden="true"></i>Báo Cáo Tổng Tiền</h5>
                    <div class="w-100 d-flex">
                        <div class="form-group w-25">
                            <label for="from_date">Từ ngày</label>
                            <input type="date" class="form-control" name="from_date" id="from_date"
                                aria-describedby="from_date" placeholder="yyyy-MM-dd">
                            <!-- <small id="from_date" class="form-text text-muted">Chọn ngày</small> -->
                        </div>
                        <div class="form-group w-25 pd_l_15">
                            <label for="to_date">Đến ngày</label>
                            <input type="date" class="form-control" name="to_date" id="to_date"
                                aria-describedby="to_date" placeholder="yyyy-MM-dd">
                            <!-- <small id="to_date" class="form-text text-muted">Chọn ngày</small> -->
                        </div>
                        <div style="padding-top:32px ;" class="form-group w-25 pd_l_15">
                            <button class="btn btn-primary" data-toggle="modal" onclick="search_report_moneybytime()"
                                data-target="#detailId">search</button>
                        </div>
                    </div>
                    <h5 class="">Tổng Tiền</h5>
                    <div id="date_"></div>
                </div>
                <div class="col-12">
                    <table id="table_data" class="tablemanager table table-striped table-bordered table-sm"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Tổng Tiền Đã Nạp</th>
                                <!-- <th>Mô tả</th> -->
                                <th>Tổng tiền thưởng</th>
                                <th>Tổng tiền đã rút</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        <caption id="showing"></caption>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/authen_fuction.js"></script>
    <script src="../js/report_money.js"></script>
    <script src="../js/helper_manager.js"></script>
    <script src="../js/permission.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<script>
    let main_table = document.getElementById('table_data').children[1];
    let showing = document.getElementById('showing');
    // open_data_money();
</script>

</html>