<!doctype html>
<html lang="en">

<head>
    <title>Pricing</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="body-bg-custom">
    <!-- Top Bar -->

    <div class="header">
        <div class="d-flex">
            <div class="p-2 flex-grow-1 website" id="img_logo"><a class="navbar-brand" href="/home/page_box"><img
                        src="../img/logo.jpg" alt=""></a></div>
            <div style="padding-top:25px" class="d-flex">
                <!-- <div class=""><a class="navbar-brand" href="#"> <img style="border-radius: 50%;" width="40px"
                            height="40px" src="../img/avatar_user.png" alt=""></a></div> -->
                <div class="dropdown website" style="padding-top: 5px;padding-right: 10px;">
                    <div class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img style="border-radius: 50%;" width="40px" height="40px" src="../img/avatar_user.png" alt="">
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="./user_info"><i class="pd_r_5 fa fa-user-o"
                                aria-hidden="true"></i> Tài Khoảng</a>
                        <a class="dropdown-item" onclick="acc_logout()"><i class="pd_r_5 fa fa-sign-out"
                                aria-hidden="true"></i>Đăng xuất</a>
                    </div>
                </div>

                <div style="padding-top:5px" class="dropdown website ">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_lang"
                        data-toggle="dropdown" data-lang="" aria-haspopup="true" aria-expanded="false">
                        <span id="img_lang"> </span><span data-lang="Language"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="change_lang('en')" href="#"><img width="20%" height="20%"
                                src="../img/usa.jpg" alt="">ENGLISH</a>
                        <a class="dropdown-item" onclick="change_lang('vi')" href="#"><img width="20%" height="20%"
                                src="../img/vn.jpg" alt="">VIỆT NAM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm navbar-light bg-main-color">
        <div class="container-fluid with100">
            <!-- <a class="navbar-brand com-name website" href="#">FB ads support</a> -->
            <button class="navbar-toggler with20" type="button" data-toggle="collapse" data-target="#main_menu_nav"
                aria-controls="main_menu_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-toggler border_none text_center with75" id="img_logo">
                <a class="navbar-brand" href="/home/page_box"><img width="100px" height="41px" src="../img/logo.jpg"
                        alt=""></a>
                <a class="float_right" style="padding-top:20px; color: whitesmoke;" href="#"><i class="fa fa-bell"
                        aria-hidden="true"></i></a>
                <div style="padding-top:20px;color: whitesmoke; margin-right: 20px;" class="float_right dropdown">
                    <div class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-1x fa-language" aria-hidden="true"></i>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="change_lang('en')" href="#"><img width="20%" height="20%"
                                src="../img/usa.jpg" alt="">ENGLISH</a>
                        <a class="dropdown-item" onclick="change_lang('vi')" href="#"><img width="20%" height="20%"
                                src="../img/vn.jpg" alt="">VIỆT NAM</a>
                    </div>
                </div>

                <div class="dropdown float_right" style="color: whitesmoke;padding-top: 20px; margin-right: 20px;">
                    <div class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-1x fa-user-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="./user_info"><i class="pd_r_5 fa fa-user-o"
                                aria-hidden="true"></i> Tài Khoảng</a>
                        <a class="dropdown-item" onclick="acc_logout()"><i class="pd_r_5 fa fa-sign-out"
                                aria-hidden="true"></i>Đăng xuất</a>
                    </div>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="main_menu_nav" style="justify-content: space-between;">
                <div id="main_menu" class="navbar-nav">
                </div>
                <!-- <div class="collapse navbar-collapse" id="main_menu_nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a style="color: aliceblue;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                data-lang="contact_and_support">
                                LIÊN HỆ VÀ HỖ TRỢ
                            </a>
                            <div id="menu_contacts" style="background-color: #2a2e3f;" class="dropdown-menu"
                                aria-labelledby="navbarDropdown">
                            </div>
                        </li>
                    </ul>
                </div> -->
                <div class="navbar-nav user-info">
                    <div id="current_username" class="nav-link active" aria-current="page">
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="content">
        <section>
            <div class="col-12">
                <div class="container">
                    <div class="col-md-12 d-flex flex-wrap mt-5 mb-5">
                        <div class="col-12">
                            <h2><i class="pd_r_5 fa fa-university" aria-hidden="true"></i> <span data-lang="transfer_money_card">Nạp TIền
                                    Thẻ Cào</span></h2>
                            <!-- <a class="btn btn-primary" href="./topup_card">Nạp bằng thẻ cào (Đang bảo trì)</a> -->
                            <!-- <button class="btn btn-primary" onclick="topup_directly()" data-lang="with_scratch_card">Nạp
                                bằng
                                thẻ
                                cào</button> -->
                        </div>
                        <div class="witdth50 col-md-6">

                            <a href="/home/topup" style="background-color: rgb(188, 212, 246);"
                                class="btn car_bank font_size10 width100 btn-primary" onclick=""> <img width="30px"
                                    height="30px" src="../img/bank.svg" alt=""> <span data-lang="bank">Ngân
                                    Hàng</span> </a>
                        </div>
                        <div class="witdth50 col-md-6">
                            <a href="#" class="btn  font_size10 width100 btn-primary" onclick=""><img width="30px"
                                    height="30px" src="../img/card.svg" alt=""> <span data-lang="card"> Thẻ
                                    Cào</span></a>
                        </div>

                        <!-- <div class="col-md-12">
                            <div class="pricing ">
                                <div class="pricing_title" id="cr_money_">
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-12">
                            <div class="pricing ">

                                <div class="pricing_benefit flex_wrap">

                                    <div class=" text_left col-md-3">
                                        <label for="money" class=" form-label" data-lang="card_type:">Loại Thẻ</label>
                                        <br>
                                        <select onchange="init_card_price()" style="min-height: 38px;"
                                            class="text-center with100 form-select" id="card_type_place"
                                            aria-label="Default select example">
                                            <option selected>---- Chọn Loại Thẻ ---</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class=" text_left col-md-3">
                                        <!-- <label for="des" class="form-label">Mã chuyển khoản</label>
                                            <input disabled type="text" class="form-control" id="des" required> -->
                                        <label for="money" class="  form-label" data-lang="denomination:">Mệnh Giá :
                                        </label>
                                        <br>
                                        <select onchange="show_info()" style="min-height: 38px;"
                                            class="text-center with100 form-select" id="card_price_place"
                                            aria-label="Default select example">
                                            <option selected>---- Chọn Mệnh Giá ---</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3 text_left">
                                        <label for="des" class=" form-label" data-lang="number_seri">Mã Seri : </label>
                                        <input type="text" class="form-control" id="seri" placeholder="Nhập Mã Seri"
                                            required>
                                    </div>
                                    <div class="col-md-3 text_left">
                                        <label for="des" class="form-label" data-lang="card_code">Mã Thẻ :</label>
                                        <input type="text" class="form-control" id="pin" placeholder="Nhập Mã Thẻ"
                                            required>
                                    </div>

                                    <div style="display: none;" id="text_info" class=" m_t_1 col-md-12 text_left ">
                                        <h4>
                                            <span1 data-lang="you're_cards"> Bạn đang nạp thẻ</span1>
                                            <span>Viettel</span>
                                            <span1 data-lang="denomination">mệnh giá :</span1> <span>10,000</span>
                                        </h4>
                                        <h4>
                                            <span1 data-lang="discount:">Chiết khấu:</span1> <span>17</span> %
                                        </h4>
                                        <h4>
                                            <span1 data-lang="real_recognition:"> Thực nhận : </span1>
                                            <span>10,000</span> VND
                                        </h4>
                                    </div>
                                    <div class="m_t_2 col-md-12">
                                        <button onclick="go_money()" type="button" class="btn col-md-12 btn-primary"><i
                                                class="fa fa-paper-plane" aria-hidden="true"></i> <span
                                                data-lang="recharged"></span></button>
                                    </div>
                                    <!-- <span data-lang="successful_transfer:">Chuyển khoản thành công vui lòng nhấn nút
                                        :</span> -->
                                    <!-- <span>Have fun !</span> -->
                                    <!-- <button onclick="save_ticket()" class="btn btn-primary w-50 m-auto"
                                        data-lang="confirm">Xác nhận</button> -->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="container">
                        <span><span style="font-weight: bolder;">Chú ý:</span><br />
                            -Mức nạp tối thiểu qua Banking 30.000 VNĐ<br />
                            - Nhập đúng nội dung chuyển khoản<br />
                            - Sau 30 phút không cộng tiền liên hệ zalo : 0987533112 để được hỗ trợ
                        </span>
                    </div> -->
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="col-12">
                <div class="container">
                    <div id="main_content" class="col-md-12 pd0 d-flex flex-wrap mt-5 mb-5">
                        <h3><i class="pd_r_5 fa fa-history"></i><span data-lang="history_operation"></span></h3>
                        <div class="v-data-table__wrapper">
                            <table class="width_table_300 table text_center table_section">
                                <caption data-lang="recent_trading_history">lịch sử giao dịch gần đây</caption>
                                <thead>
                                    <tr>
                                        <th style="width:10%">Stt</th>
                                        <th data-lang="time">Thời gian</th>
                                        <th data-lang="denomination">Mệnh Giá</th>
                                        <th data-lang="">Seri</th>
                                        <th data-lang="card_code">Mã thẻ</th>
                                        <th data-lang="money_topup">Số tiền nạp</th>
                                        <th data-lang="condition">Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody id="tb_money_his_card">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Modal -->
        <div class="modal fade" id="modal_topup_bank" tabindex="-1" role="dialog" aria-labelledby="modal_topup_bank"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header table_header">
                        <div style="width:40%;margin-left: 3%;" class="mr_r_10">
                            <button style="background-color: rgb(188, 212, 246);"
                                class="btn car_bank font_size10 width100 btn-primary" onclick="topup_directly()"><img
                                    width="30px" height="30px" src="../img/card.svg" alt=""> <span data-lang="card"> Thẻ
                                    Cào</span></button>

                        </div>
                        <div style="width:40%" class="">
                            <button class="btn  font_size10 width100 btn-primary" onclick="topup_bank()"> <img
                                    width="30px" height="30px" src="../img/bank.svg" alt=""> <span data-lang="bank">Ngân
                                    Hàng</span> </button>
                        </div>
                        <!-- <a class="form-control bn btn-primary" href=""> <h5 class="modal-title" data-lang="top_up_with_card">Thẻ Cào</h5></a> 
                   <a class="bn btn-primary" href=""> <h5 class="modal-title" data-lang="top_up_with_card">Ngân Hàng</h5></a>  -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div style="background-color: red; margin-bottom: 10px;" class="col-md-12">
                            <div>
                                - Bạn vui lòng chuyển khoản chính xác nội dung để được cộng tiền nhanh nhất.
                                - Nếu sau 10 phút từ khi tiền trong tài khoản của bạn bị trừ mà vẫn chưa được cộng tiền
                                vui liên hệ Admin để được hỗ trợ.
                                - Vui lòng không nạp từ bank khác qua bank này (tránh lỗi).
                            </div>
                        </div>
                        <div style="background-color: greenyellow; margin-bottom: 10px;" class="col-md-12">
                            <div>
                                - Bạn vui lòng chuyển khoản chính xác nội dung để được cộng tiền nhanh nhất.
                                - Nếu sau 10 phút từ khi tiền trong tài khoản của bạn bị trừ mà vẫn chưa được cộng tiền
                                vui liên hệ Admin để được hỗ trợ.
                                - Vui lòng không nạp từ bank khác qua bank này (tránh lỗi).
                            </div>
                        </div>
                        <div style="background-color: greenyellow; margin-bottom: 10px;" class="col-md-12">
                            <div>
                                - Bạn vui lòng chuyển khoản chính xác nội dung để được cộng tiền nhanh nhất.
                                - Nếu sau 10 phút từ khi tiền trong tài khoản của bạn bị trừ mà vẫn chưa được cộng tiền
                                vui liên hệ Admin để được hỗ trợ.
                                - Vui lòng không nạp từ bank khác qua bank này (tránh lỗi).
                            </div>
                        </div>

                        <div style="background-color: yellow; margin-bottom: 10px;" class="col-md-12">
                            Lưu ý
                            - Cố tình nạp dưới mức nạp không hỗ trợ
                            - Nạp sai cú pháp, sai số tài khoản, sai ngân hàng sẽ bị trừ 20% phí giao dịch. Vd: nạp 100k
                            sai nội dung sẽ chỉ nhận được 80k coin và phải liên hệ admin để cộng tay.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float_left" data-dismiss="modal">Close</button>
                        <!-- <button onclick="go_money()" type="button" class="btn btn-primary"
                            data-lang="recharged">Save</button> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal_topup_directly" tabindex="-1" role="dialog"
            aria-labelledby="modal_topup_directly" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header table_header">
                        <div style="width:40%;margin-left: 3%;" class="mr_r_10">
                            <button class="btn font_size10 width100 btn-primary" onclick="topup_directly()"><img
                                    width="30px" height="30px" src="../img/card.svg" alt=""> <span data-lang="card"> Thẻ
                                    Cào</span></button>

                        </div>
                        <div style="width:40%" class="">
                            <button style="background-color: rgb(188, 212, 246);"
                                class="btn car_bank font_size10 width100 btn-primary" onclick="topup_bank()"> <img
                                    width="30px" height="30px" src="../img/bank.svg" alt=""> <span data-lang="bank">Ngân
                                    Hàng</span> </button>
                        </div>
                        <!-- <a class="form-control bn btn-primary" href=""> <h5 class="modal-title" data-lang="top_up_with_card">Thẻ Cào</h5></a> 
                      <a class="bn btn-primary" href=""> <h5 class="modal-title" data-lang="top_up_with_card">Ngân Hàng</h5></a>  -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <label for="money" class="form-label" data-lang="card_type:">Loại Thẻ</label>
                            <br>
                            <select onchange="init_card_price()" style="min-height: 38px;"
                                class="text-center with100 form-select" id="card_type_place"
                                aria-label="Default select example">
                                <option selected>---- Chọn Loại Thẻ ---</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <!-- <label for="des" class="form-label">Mã chuyển khoản</label>
                            <input disabled type="text" class="form-control" id="des" required> -->
                            <label for="money" class="form-label" data-lang="denomination:">Mệnh Giá : </label>
                            <br>
                            <select onchange="show_info()" style="min-height: 38px;"
                                class="text-center with100 form-select" id="card_price_place"
                                aria-label="Default select example">
                                <option selected>---- Chọn Mệnh Giá ---</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>

                        <div class="col-md-12">
                            <label for="des" class="form-label" data-lang="number_seri">Mã Seri : </label>
                            <input type="text" class="form-control" id="" placeholder="Nhập Mã Seri" required>
                        </div>
                        <div class="col-md-12">
                            <label for="des" class="form-label" data-lang="card_code">Mã Thẻ :</label>
                            <input type="text" class="form-control" id="" placeholder="Nhập Mã Thẻ" required>
                        </div>
                        <div id="text_info" class="col-md-12 row d-flex mt-2 mb-2 flex-column">
                            <h4>
                                <span1 data-lang="you're_cards"> Bạn đang nạp thẻ</span1> <span>Viettel</span>
                                <span1 data-lang="denomination">mệnh giá :</span1> <span>10,000</span>
                            </h4>
                            <h4>
                                <span1 data-lang="discount:">Chiết khấu:</span1> <span>17</span> %
                            </h4>
                            <h4>
                                <span1 data-lang="real_recognition:"> Thực nhận : </span1><span>10,000</span> VND
                            </h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float_left" data-dismiss="modal">Close</button>
                        <button onclick="go_money()" type="button" class="btn btn-primary"
                            data-lang="recharged">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <dialog id="bank_money_ticket"><div class="modal-dialog" role="document">
        <div style="border: 0px;" class="modal-content">

            <div class="modal-body text_center">
                <p><img width="100px" height="100px" src="../img/check.png" alt="" srcset=""></p>
                <h4>Thành Công !</h4>
                <p>Tài khoản của bạn đã được cộng thêm tiền!</p>
                <button type="button" class="btn btn-primary" onclick="location.reload()"
                    data-dismiss="modal">OK</button>
            </div>
            <div class="text_center">

            </div>
        </div>
    </div></dialog>
    <div class="footer">
        <nav style="min-height: 56px;" class=" pd_t_15 text_white text_center bg-main-color">
            <a style="color: white;" href="">2022 -- Powered by Arthur Company</a>
        </nav>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/authen_fuction.js"></script>
    <script src="../js/helper_manager.js"></script>
    <script src="../js/permission.js"></script>
    <script src="../js/topup.js"></script>
    <script src="../js/topup_directly.js"></script>
    <script defer src="../js/translator.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        function copy_near_span(ele) {
            var parent = ele.parentNode;
            var copyText = parent.querySelector('span');
            /* Select the text field */
            // copyText.select();
            // copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(copyText.innerText);
        }
    </script>
</body>


</html>