<!doctype html>
<html lang="en">

<head>
    <title>Notice</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body class="body-bg-custom">
    <!-- Top Bar -->
    <div class="header">
        <div class="d-flex">
            <div class="p-2 flex-grow-1" id="img_logo"><a class="navbar-brand" href="/home/users"><img height="68.99px"
                        src="../img/logo.jpg" alt=""></a></div>

            <div style="padding-top: 0px; padding-right: 6vw;" class="dropdown">
                <div  class=" dropdown-toggle" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img style="border-radius: 50%; margin-top: 1.5vw;" width="50px" height="50px"
                        src="../img/avatar.png" alt="">
                </div>
                <div  class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="./user_info"><i class="pd_r_5 fa fa-user-o" aria-hidden="true"></i> Tài Khoảng</a>
                    <a class="dropdown-item" onclick="acc_logout()"><i class="pd_r_5 fa fa-sign-out" aria-hidden="true"></i>Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
    <nav style="background-color: #2E9AFE;" class="navbar navbar-expand-sm navbar-light bg-main-color">
        <div class="container-fluid">
            <a class="navbar-brand com-name" href="#">FB ads support</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu_nav"
                aria-controls="main_menu_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_menu_nav" style="justify-content: space-between;">
                <div id="main_menu" class="navbar-nav">
                    <a class="nav-link active title-nav" aria-current="page" href="/">Thông báo</a>
                    <a class="nav-link active title-nav" aria-current="page" href="/home/getcontent">Lấy nội dung</a>
                </div>
                <div class="collapse navbar-collapse" id="main_menu_nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a style="color: aliceblue;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                QUẢN LÝ TIỀN
                            </a>
                            <div id="menu_money" style="background-color: #2E9AFE;" class="dropdown-menu"
                                aria-labelledby="navbarDropdown">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="navbar-nav user-info">
                    <div id="current_username" class="nav-link active" aria-current="page"><a>USER</a>
                        <a class="nav-link active" aria-current="page" onclick="acc_logout()" href="#">(Đăng
                            xuấtssss)</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section>
        <div class="col-12">
            <div class="container pt-5">
                <h3> <i class=" pd_r_5 fa fa-user-circle-o" aria-hidden="true"></i>Quản Lý Tài Khoảng</h3>
                <div class="col-md-12 d-flex flex-wrap mt-5 mb-5">
                    <div style="background-color: #2E9AFE; height: 100px; border-radius: 5%;" class="m_l_5 col-md-3">
                        <div class=" pd_l_15 m_t_2 float_left">
                            <img style="border-radius: 50%; width: 50px;height: 50px;" src="../img/avatar_user.png"
                                alt="">
                                
                        </div>
                        <div class=" pd_r_5 text_center m_t_2 float_right">
                            <h5>Tổng Thành Viên</h5>
                            <!-- <br> -->
                            <div id="total_user">
                                <h5>0</h5>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: #2E9AFE; height: 100px; border-radius: 5%;" class="m_l_5 col-md-3">
                        <div class="pd_l_15 m_t_2 float_left">
                            <img style="border-radius: 50%; width: 50px;height: 50px;" src="../img/avatar_user.png"
                                alt="">
                        </div>
                        <div class=" pd_r_5 text_center m_t_2 float_right">
                            <h5>Tổng Đại Lý</h5>
                            <!-- <br> -->
                            <div id="total_agency">
                                <h5>0</h5>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: #2E9AFE; height: 100px; border-radius: 5%;" class="m_l_5 col-md-3">
                        <div class="pd_l_15 m_t_2 float_left">
                            <img style="border-radius: 50%; width: 50px;height: 50px;" src="../img/avatar_user.png"
                                alt="">
                        </div>
                        <div class=" text_center m_t_2 float_right">
                            <h5>Tổng Cộng Tác viên</h5>
                            <!-- <br> -->
                            <div id="total_sub_agency">
                                <h5>0</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background-color: #080808; margin-top: 2vw;" class="container">

                <div class="col-12 pd_t_1 pb-2">
                    <h5 class="">Danh sách thành viên</h5>
                    <button onclick="open_modal(0)" class="btn btn-primary">Tạo mới User</button>
                    <div class="float_left" id="m_logo">
                        <!-- <button onclick="open_modal_logo()" class="btn btn-primary">logo</button> -->
                    </div>
                    <!-- <button onclick="paginate()" class="btn btn-primary">test</button> -->
                    <!-- <input type="text" id="sreach_user" name="sreach_user"> 
                        <button onclick="" class="btn btn-primary">search</button> -->
                    <div class="float_right">
                        <label for="username" class="form-label"></label>
                        <input type="text" class="" id="username" placeholder="username...">
                        <button onclick="search_acc()" class="btn btn-primary">search</button>
                    </div>
                </div>
                <div class="col-12">
                    <table id="table_data" class="tablemanager table table-striped table-bordered table-sm"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>stt</th>
                                <th>Username</th>
                                <th>Tổng nạp</th>
                                <th>Tổng thưởng</th>
                                <th id="month"></th>
                                <!-- <th>SDT</th>
                                <th>ĐC</th> -->
                                <th>Ngày Tạo<br><span style="font-size: 10px;">(mm/dd/yyyy)</span></th>
                                <th>Hạn ngày</th>
                                <th class="disableFilterBy">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div class="modal fade " id="search_table" data-backdrop="static" data-keyboard="false"
                        tabindex="-1" aria-labelledby="search_table" aria-hidden="true">
                        <table id="search_table" class="tablemanager table table-striped table-bordered table-sm"
                            cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>stt</th>
                                    <th>Username</th>
                                    <th>Tổng nạp</th>
                                    <th>Tổng thưởng</th>
                                    <th id="month"></th>
                                    <th>Tên</th>
                                    <th>SDT</th>
                                    <th>ĐC</th>
                                    <th>hạn ngày</th>

                                    <th class="disableFilterBy">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>

                        </table>
                    </div>
                    <div id="paginate"></div>

                    <!-- /////////////////////// -->
                </div>
                <!-- ////////////////////// -->

            </div>
        </div>
    </section>
    <div class="modal fade" id="user_details" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="user_details" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title">Thông tin tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex flex-wrap">
                    <input hidden id="user_id" value="0" />
                    <div class="col-md-6">
                        <label for="user" class="form-label">Username</label>
                        <input type="text" class="form-control" id="user" required>
                    </div>
                    <div class="col-md-6">
                        <label for="pass" class="form-label">Mật khẩu</label>
                        <input type="password" class="form-control" id="pass" required>
                    </div>
                    <!-- <div class="col-md-4">
                        <label for="phone" class="form-label">SDT</label>
                        <input type="text" class="form-control" id="phone" required>
                    </div> -->
                    <div class="col-md-6">
                        <label for="real_name" class="form-label">Tên</label>
                        <input type="text" class="form-control" id="real_name" required>
                    </div>
                    <!-- <div class="col-md-4">
                        <label for="add" class="form-label">Địa chỉ</label>
                        <input type="text" class="form-control" id="add" required>
                    </div> -->
                    <div class="col-md-6">
                        <label for="created_at" class="form-label">ngày tạo</label>
                        <input disabled type="text" class="form-control" id="created_at" required>
                    </div>
                    <div class="col-md-12" style="display: none;">
                        <label for="permission" class="form-label">Phân quyền : </label>
                        <!-- <input type="text" class="form-control" id="add" required> -->
                        <div id="permiss_place" class="col-md-12 d-flex flex-wrap justify-content-between">

                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex" style="justify-content: space-between;"><button type="button"
                        class="btn btn-primary" onclick="save_()" data-dismiss="modal">Save</button><button
                        type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="pricing_history_modal" tabindex="-1" role="dialog" aria-labelledby="pricing"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lịch sử đăng ký gói</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-header">
                    <span>Gói DV</span>
                    <div>
                        <select class="form-select" id="wrap_pricing" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div id="save_wrap_pricing">

                    </div>

                    <!-- <button type="button"
                    class="btn btn-primary" onclick="save_pricing_()" data-dismiss="modal">Save</button> -->
                </div>
                <div id="pricing">
                </div>
                <div class="modal-body">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Ngày Mua</th>
                                <th>Tên gói</th>
                            </tr>
                        </thead>
                        <tbody id="tb_pricing_his">

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="money_history" tabindex="-1" role="dialog" aria-labelledby="money_history"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lịch sử nạp tiền</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-content">
                    <div class="modal-header">
                        <span>Thay đổi số dư : </span>
                        <select style="height: 30px;" class="form-select" id="edit_money" aria-label="Default select example">
                            <option selected value="0">--Trạng Thái--</option>
                            <option value="1">Cộng Tiền</option>
                            <option value="2">Trừ tiền</option>
                            <!-- <option value="3">Three</option> -->
                        </select>
                        <div>
                            <input type="number" style="width: 150px;" id="_money" placeholder="money..">
                        </div>
                        <div id="save_edit_money">
                            <!-- <button type="button" style="height: 30px;" class="btn btn-primary" onclick=""
                                data-dismiss="modal">Save</button> -->
                        </div>
                    </div>
                </div>

                <div class="modal-body">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Mục đích</th>
                                <th>Số tiền (VND)</th>
                                <th>Thời gian</th>
                            </tr>
                        </thead>
                        <tbody id="tb_money_his">

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/authen_fuction.js"></script>
    <script src="../js/user_manager.js"></script>
    <script src="../js/helper_manager.js"></script>
    <script src="../js/permission.js"></script>
    <script src="../js/pricing_manager.js"></script>
    <script src="../js/money_manager.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>