<!doctype html>
<html lang="en">

<head>
    <title>Notice</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
</head>

<body class="body-bg-custom">
    <!-- Top Bar -->


    <div class="header">
        <div class="d-flex">
            <div class="p-2 flex-grow-1 website" id="img_logo"><a class="navbar-brand" href="/home/page_box"><img
                        src="../img/logo.jpg" alt=""></a></div>
            <div style="padding-top:25px" class="d-flex">
                <!-- <div class=""><a class="navbar-brand" href="#"> <img style="border-radius: 50%;" width="40px"
                            height="40px" src="../img/avatar_user.png" alt=""></a></div> -->
                <div class="dropdown website" style="padding-top: 5px;padding-right: 10px;">
                    <div class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img style="border-radius: 50%;" width="40px" height="40px" src="../img/avatar_user.png" alt="">
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="./user_info"><i class="pd_r_5 fa fa-user-o"
                                aria-hidden="true"></i> Tài Khoảng</a>
                        <a class="dropdown-item" onclick="acc_logout()"><i class="pd_r_5 fa fa-sign-out"
                                aria-hidden="true"></i>Đăng xuất</a>
                    </div>
                </div>

                <div style="padding-top:5px" class="website dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_lang"
                        data-toggle="dropdown" data-lang="Language" aria-haspopup="true" aria-expanded="false">

                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="change_lang('en')" href="#"><img width="20%" height="20%" src="../img/usa.jpg" alt="">ENGLISH</a>
                        <a class="dropdown-item" onclick="change_lang('vi')" href="#"><img width="20%" height="20%" src="../img/vn.jpg" alt="">VIỆT NAM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <nav class="navbar navbar-expand-sm navbar-light bg-main-color">
            <div class="container-fluid with100">
                <a class="navbar-brand com-name website" href="#">FB ads support</a>
                <button class="navbar-toggler with20" type="button" data-toggle="collapse" data-target="#main_menu_nav"
                    aria-controls="main_menu_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-toggler text_center with75" id="img_logo">
                    <a class="navbar-brand" href="/home/page_box"><img width="100px" height="41px" src="../img/logo.jpg"
                            alt=""></a>
                    <a class="float_right" style="padding-top:20px; color: whitesmoke;" href="#"><i class="fa fa-bell"
                            aria-hidden="true"></i></a>
                    <div style="padding-top:20px;color: whitesmoke; margin-right: 20px;" class="float_right dropdown">
                        <div class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fa fa-1x fa-language" aria-hidden="true"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" onclick="change_lang('en')" href="#"><img width="20%" height="20%" src="../img/usa.jpg" alt="">ENGLISH</a>
                            <a class="dropdown-item" onclick="change_lang('vi')" href="#"><img width="20%" height="20%" src="../img/vn.jpg" alt="">VIỆT NAM</a>
                        </div>
                    </div>

                    <div class="dropdown float_right" style="color: whitesmoke;padding-top: 20px; margin-right: 20px;">
                        <div class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fa fa-1x fa-user-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="./user_info"><i class="pd_r_5 fa fa-user-o"
                                    aria-hidden="true"></i> Tài Khoảng</a>
                            <a class="dropdown-item" onclick="acc_logout()"><i class="pd_r_5 fa fa-sign-out"
                                    aria-hidden="true"></i>Đăng xuất</a>
                        </div>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="main_menu_nav" style="justify-content: space-between;">
                    <div id="main_menu" class="navbar-nav">
                    </div>
                    <!-- <div class="collapse navbar-collapse" id="main_menu_nav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a style="color: aliceblue;" class="nav-link dropdown-toggle" href="#"
                                    id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" data-lang="contact_and_support">
                                    LIÊN HỆ VÀ HỖ TRỢ
                                </a>
                                <div id="menu_contacts" style="background-color: #2a2e3f;" class="dropdown-menu"
                                    aria-labelledby="navbarDropdown">
                                </div>
                            </li>
                        </ul>
                    </div> -->
                    <div class="navbar-nav user-info">
                        <div id="current_username" class="nav-link active" aria-current="page">
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="content">
        <section>
            <div class="col-12">
                <div class="container">
                    <div class="col-md-12 d-flex flex-wrap mt-5">
                        <div class="v-r col-md-7 pd10 bg-main-color">
                            <h3 style="text-align: center;"><i class="pd_r_5 fa fa-user-o"></i><span
                                    data-lang="information_user"></span></h3>
                            <hr />
                            <div class="col-md-12">
                                <div class="d-flex flex-row mb-3">
                                    <div style="width: 28%;" class="control-label text-uppercase">Email :</div>
                                    <div style="width: 60%; margin-left: 10%" id="user_infor"></div>
                                </div>
                                <div class="d-flex flex-row mb-3">
                                    <div style="width: 28%;" class="control-label text-uppercase"
                                        data-lang="creation_date:"></div>
                                    <div style="width: 60%; margin-left: 10%" id="create_at_infor"></div>
                                </div>
                                <div class="d-flex flex-row mb-3">
                                    <div style="width: 28%;" class="control-label text-uppercase" data-lang="money:">
                                    </div>
                                    <span style="width: 60%; margin-left: 10%" id="money_cr"></span>
                                </div>
                                <div class="d-flex flex-row mb-3">
                                    <label style="width: 28%;" class="control-label text-uppercase"
                                        data-lang="Logout"></label>
                                    <div style="width: 60%; margin-left: 10%"> <button onclick="acc_logout()"
                                            class="btn btn-primary" data-lang="Logout"></button></div>
                                </div>
                            </div>
                        </div>
                        <div class="v-f pd10 mg_t_20 col-md-5 bg-main-color">
                            <h3 style="text-align: center;"> <i class=" pd_r_5 fa fa-unlock-alt"
                                    aria-hidden="true"></i><span data-lang="change_password"></span></h3>
                            <hr />
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label text-uppercase" data-lang="old_password"></label>
                                    <input class="form-control" id="old_pass" name="old_pass" type="password"
                                        placeholder="" autofocus="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label text-uppercase" data-lang="new_password"></label>
                                    <input class="form-control" id="new_pass" name="new_pass" type="password"
                                        placeholder="" autofocus="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label text-uppercase"
                                        data-lang="confirm_new_password"></label>
                                    <input class="form-control" id="confirm_pass" name="confirm_pass" type="password"
                                        placeholder="" autofocus="">
                                </div>
                                <div class="form-group text-center">
                                    <button onclick="change_pass()" class="btn btn-primary"
                                        data-lang="save">Lưu</button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                        <h5 style="text-align: center;">Thêm token FB</h5>
                        <hr />
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label text-uppercase">Token FB</label>
                                <div class="d-flex">
                                    <input class="form-control" id="token_fb" name="token_fb" type="text" placeholder=""
                                        autofocus="">
                                    <button onclick="add_token()" class="btn btn-warning">Thêm</button>
                                </div>
                            </div>
                            <div id="list_data_token" class="form-group pr-2" style="height: 300px;overflow-y: scroll;">
                                
                                
                            </div>
                        </div>
                    </div> -->
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="col-12">
                <div class="container">
                    <div id="main_content" class="col-md-12 d-flex flex-wrap mt-5 mb-5">
                        <h3><i class="pd_r_5 fa fa-history"></i><span data-lang="history_operation"></span></h3>
                        <table class="table width_table_200 text_center table_section table-dark" >
                            <caption data-lang="recent_trading_history"></caption>
                            <thead>
                                <tr>
                                    <th>Stt</th>
                                    <!-- <th data-lang="">tên</th> -->
                                    <th data-lang="Gói_dịch_vụ">Gói_dịch_vụ</th>
                                    <!-- <th>Mã ck</th> -->
                                    <th data-lang="price">Giá</th>
                                    <th data-lang="time">Thời Gian</th>
                                </tr>
                            </thead>
                            <tbody id="tb_data">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="footer">
        <nav style="min-height: 56px;" class=" pd_t_15 text_white text_center bg-main-color">
                <a style="color: white;" href="">2022 -- Powered by Arthur Company</a>
        </nav>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/authen_fuction.js"></script>
    <script src="../js/helper_manager.js"></script>
    <script src="../js/permission.js"></script>
    <script src="../js/user_info.js"></script>
    <script defer src="../js/translator.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>


</html>