<!doctype html>
<html lang="en">

<head>
    <title>Notice</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="body-bg-custom">
    <!-- Top Bar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-main-color">
        <div class="container-fluid">
            <a class="navbar-brand com-name" href="/">FB ads support</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu_nav"
                aria-controls="main_menu_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_menu_nav" style="justify-content: space-between;">
                <div id="main_menu" class="navbar-nav">
                    <a class="nav-link active title-nav" aria-current="page" href="/">Thông báo</a>
                    <a class="nav-link active title-nav" aria-current="page" href="/home/getcontent">Lấy nội dung</a>

                </div>
                <div class="navbar-nav user-info">
                    <div id="current_username" class="nav-link active" aria-current="page"><a class="title-nav">USER</a>
                        <a class="nav-link active" aria-current="page" onclick="acc_logout()" href="#">(Đăng xuất)</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section>
        <div class="col-12">
            <div class="container">
                <div class="col-md-12 d-flex flex-wrap mt-5">
                    <div class="col-md-6">
                        <h5 style="text-align: center;">Đổi mật khẩu</h5>
                        <hr />
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label text-uppercase">mật khẩu cũ</label>
                                <input class="form-control" id="old_pass" name="old_pass" type="password" placeholder=""
                                    autofocus="">
                            </div>
                            <div class="form-group">
                                <label class="control-label text-uppercase">mật khẩu mới</label>
                                <input class="form-control" id="new_pass" name="new_pass" type="password" placeholder=""
                                    autofocus="">
                            </div>
                            <div class="form-group">
                                <label class="control-label text-uppercase">xác nhận mật khẩu mới</label>
                                <input class="form-control" id="confirm_pass" name="confirm_pass" type="password"
                                    placeholder="" autofocus="">
                            </div>
                            <div class="form-group text-center">
                                <button onclick="change_pass()" class="btn btn-primary">Lưu</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5 style="text-align: center;">Thêm token FB</h5>
                        <hr />
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label text-uppercase">Token FB</label>
                                <div class="d-flex">
                                    <input class="form-control" id="token_fb" name="token_fb" type="text" placeholder=""
                                        autofocus="">
                                    <button onclick="add_token()" class="btn btn-warning">Thêm</button>
                                </div>
                            </div>
                            <div id="list_data_token" class="form-group pr-2" style="height: 300px;overflow-y: scroll;">
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/authen_fuction.js"></script>
    <script src="../js/helper_manager.js"></script>
    <script src="../js/permission.js"></script>
    <script src="../js/user_info.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>


</html>